<server description="Liberty Demo LeaderBoard">

  <featureManager>
      <feature>jaxrs-2.1</feature>
      <feature>jsonb-1.0</feature>
      <feature>jsonp-1.1</feature>
      <feature>cdi-2.0</feature>
      <feature>localConnector-1.0</feature>
      <feature>mpConfig-1.3</feature>
      <feature>mpRestClient-1.0</feature>
      <feature>mpHealth-1.0</feature>
      <feature>mpMetrics-1.1</feature>
      <feature>monitor-1.0</feature>
      <feature>mpOpenAPI-1.1</feature>
      <feature>mpFaultTolerance-2.0</feature>
  </featureManager>
  <cors domain="/liberty-demo-leaderboard/app/leaderboard"
    allowedOrigins="http://webapp:9080,http://game:9081"
    allowedMethods="GET, POST"
    allowCredentials="true"
    exposeHeaders="MyHeader"/>
  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />
  <webApplication location="liberty-demo-leaderboard.war" contextRoot="${app.context.root}"/>
  <mpMetrics authentication="false"/>
</server>
