liberty-demo-admin/target/
liberty-demo-webapp/target/
liberty-demo-leaderboard/target/
liberty-demo-game/target/
*/.settings/
*/.project
*/.classpath
*/.factorypath
*/MANIFEST.MF
README.html
.DS_Store

!liberty-demo-admin/target/liberty-demo-admin-1.0-SNAPSHOT.war
!liberty-demo-leaderboard/target/liberty-demo-leaderboard-1.0-SNAPSHOT.war
!liberty-demo-game/target/liberty-demo-game-1.0-SNAPSHOT.war
